/* Group */

.jp-DoubleSharp-Group {
  margin: 8px 0 16px;
}

.jp-DoubleSharp-Group-title {
  color: var(--jp-ui-font-color2);
  font-weight: 600;
  margin-bottom: 8px;
}

.jp-DoubleSharp-Group-title::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 16px;
  margin-right: 4px;
  vertical-align: top;
  background-color: var(--jp-brand-color1);
}
